#charts {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 20px;
    background: #000;
    box-shadow: 0 0 .5rem #FFF;
    padding: 10px;
}

@media (max-width: 400px) {
    #charts h1 {
        font-size: 1rem;
    }

    #charts {
        width: 380px;
        height: 220px;
        transform: scale(.85);
    }

}

@media (max-width: 350px) {
    #charts {
        transform: scale(.7);
    }
}

@media (max-width: 300px) {
    #charts {
        transform: scale(.65);
    }
}

@media (max-width: 275px) {
    #charts {
        transform: scale(.6);
    }
} 

@media (max-width: 250px) {
    #charts {
        transform: scale(.55);
    }
}  

@media (max-width: 225px) {
    #charts {
        transform: scale(.5);
    }
} 