header {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to top, #1e1e1e, #585657);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #fff; 
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    box-shadow: 0 0 1rem #ffffff;
    padding: 10px;
}

header h1 {
    font-family: 'Audiowide', sans-serif;
    text-decoration: underline;
}

header a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FFF;
    text-decoration: none;
}

header img {
    width: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

